@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body, 
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 50 100% 50%; /* Remplacé par du jaune */
    --primary-foreground: 210 40% 98%;

    --secondary: 50 100% 90%; /* Jaune clair */
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 50 100% 90%; /* Jaune clair */
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 50 100% 90%; /* Jaune clair */
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 50 100% 80%; /* Jaune plus foncé */
    --input: 50 100% 80%; /* Jaune plus foncé */
    --ring: 50 100% 50%; /* Jaune vif */

    --radius: 0.5rem;
  }

  .dark {
    --background: 50 100% 10%; /* Fond sombre jaune (marron) */
    --foreground: 210 40% 98%;

    --card: 50 100% 10%; /* Jaune très sombre (marron) */
    --card-foreground: 210 40% 98%;

    --popover: 50 100% 10%; /* Jaune très sombre (marron) */
    --popover-foreground: 210 40% 98%;

    --primary: 50 100% 50%; /* Jaune vif */
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 50 100% 90%; /* Jaune clair */
    --secondary-foreground: 210 40% 98%;

    --muted: 50 100% 90%; /* Jaune clair */
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 50 100% 90%; /* Jaune clair */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 50 100% 80%; /* Jaune plus foncé */
    --input: 50 100% 80%; /* Jaune plus foncé */
    --ring: 50 100% 50%; /* Jaune vif */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
